# pip uninstall pandas numpy -y
# pip install -r requirements.txt

# pip install "pandas==2.3.3" --only-binary :all:
# pip install -r requirements.txt --only-binary :all:

fastapi==0.115.0
uvicorn[standard]==0.34.0
#sqlalchemy==2.0.36
#alembic==1.14.0
pydantic==2.12.5
pydantic-settings==2.6.1
#python-jose[cryptography]==3.3.0
#bcrypt==4.2.1
#python-multipart==0.0.12
#python-dotenv==1.0.1
#pandas==2.2.2
#openpyxl==3.1.5
